<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
<!-- instead of writing the above code ,we are 
creating the subtemplate of the code and using
in all the ejs files  by using the following
 command -->
 <%- include("head.ejs") %>
<body>
    <h1>No Results</h1>
    <%- include("footer.ejs") %>
</body>
</html>
