<!-- this is the template we are making for a 
footer so that the footer is created at the
end of each page without writing code for footer
in any pf ejs file-->>

<div style="background-color: aqua;">
    <b>This is the official email of the 
        institute : abcd@gmail.com</b> 
    <br><br>
    <u>This is the official mobile number of 
        the institution 
    </u>
    </div>