<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    
    <!-- Add your other head elements here -->
</head>
</html>



    <!-- instead of writing the above code ,we are 
creating the subtemplate of the code and using
in all the ejs files -->